  .swiper-button-prev , .swiper-button-next {
    top: var(--swiper-navigation-top-offset, 100%);
    background-color: #F0F0F0;
    color: black;
    width: auto;
    height: auto;
    padding: 5px 8px;
    border-radius: 100%;
  }
  .swiper-button-prev:after, .swiper-button-next:after {
    font-size: 10px !important;
  }
  .swiper .swiper-button-prev {
    left: 47.5% !important;
  }
  .swiper .swiper-button-next {
    right: 47.5% !important;
  }

  .swiper-3d .swiper-slide-shadow-coverflow {
    background-image: none !important;
  }